.sign-in-page {
	min-height: 80vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: fantasy;
	user-select: none;
	background-color: #AAAAAA;
	color: #2D2D2D;
}

.sign-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 100%;
	color: #2D2D2D;
}

.title-text-sign {
	color: #2D2D2D;
	font-size: 250%;
}


.textOpacity {
	text-align: center;
}

.logo {
	width: 80%;
	user-select: none;
}

.sign-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10%;
}

.sign-form {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.sign-form input {
	padding-top: 10%;
	width: 100%;
	border: none;
	color: #2D2D2D;
	border-bottom: 3px solid #2D2D2D;
	;
	background: transparent;
	outline: none;
	text-align: center;
	transition: border-color 0.3s;
	font-size: 150%;
}



.sign-form label {
	display: block;
	text-align: center;
	color: #2D2D2D;
	letter-spacing: 0.5px;
	margin-top: 4%;
	font-size: 150%;
	font-weight: bold;

}


.sign-button {
	font-size: 150%;
	font-family: fantasy;
	background-color: #D9D9D9;
	padding: 0.5em 1em;
	color: black;
	transition: 0.2s ease-in-out;
	width: auto;
	display: inline-block;
	align-self: center;
	box-sizing: border-box;
	margin-top: 10%;
}

.sign-button:hover {
	color: #D9D9D9;
	background-color: black;

}

.account-created {
	position: relative;
    display: block; 
	cursor: pointer;
    margin:  1% auto; 
    width: fit-content; 
    flex: 0 0 auto; 
}

.account-created::after {
    content: "";
	position: absolute;
	left: 0;
	bottom: 0;

	width: 0;
    height: 2px; 
	background-color: currentColor;
	transition: width 0.3s ease-in-out;
}

.account-created:hover::after {
	width: 100%;
}