
.header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}
.titles{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 25%;
}

.buttons{
margin-left: 20%;
display: flex;
align-items: center;
}

.header img {
    width: 10%;
    margin: 0;
}

.header h4 {
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 150%;
    margin: 15%;
    white-space: nowrap;
}

.header h4:hover {
    color: #AAAAAA;
}

.buttonHeader{
    font-size: 200%;
    margin: 10%;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
    border-radius: 7%;
}
.signin{
    border: 1px solid #AAAAAA;
    color: #2D2D2D;
    background-color: #AAAAAA;
}

.login{
    border: 1px solid #3C3737;
    color: #AAAAAA;
    background-color: #3C3737;
}